.unik-name-admin-container{
	margin-top: 20px;
	.unik-top-header{
		background-image: url(../images/unikname-bg-banner.jpg);
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 250px;
		background-position: center;
		img{
			width: 100%;
		}
		.left{
			flex-basis: calc(100% - 260px);
			position: relative;
 			@media screen and (max-width: 680px) {
 				flex-basis: calc(100% - 30px);
 			}
			img{
				width: 498px;
			}
			.content-left{
				position: absolute;
				height: 100%;
				top: 40px;
				width: 60%;
				margin-left: 170px;
			    @media screen and (max-width: 1024px) {
					width: 88%;
					margin-left: 80px;
			    }
				img{
					width: 220px;
					padding-top: 25px;
				}
				h3{
					color: $while;
					font-size: 18px;
					font-weight: 100;
					margin-top: 0;
					line-height: 30px;
				}
			}
		}
		.right{
		    flex-basis: 195px;
		    margin-right: 55px;
		    margin-top: 11px;
 			@media screen and (max-width: 680px) {
 				display: none;
 			}
		}
	}
	.unik-content-admin{
		.nav-tab-wrapper{
			padding: 0;
			border: 0;
			display: flex;
			flex-wrap: wrap;
			background-color: $turquoise;
			a{
				display: inline-block;
				flex-basis: 16.666%;
				margin-left: 0;
				border: 0;
				padding: 10px 0px;
				text-align: center;
				background-color: transparent;
				color: $while;
				position: relative;
				font-size: 15px;
			    @media screen and (max-width: 1024px) {
			    	 flex-basis: 33%;
			    }
				&.nav-tab-active{
					background-color: $red;
					margin-bottom: 0px;
				}
				&:first-child{
					&:before{
						content: none;
					}
				}
				&:last-child{
					&:after{
						content: none;
					}
				}
				&:hover{
					background-color: $red;			
				}
				&:focus{
					box-shadow: none;
					outline: none;
				}
			}
		}
		.unik-content-tab{
			min-height: 500px;
			border: 1px solid $border-color;
			border-top: 0px;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			background-color: $while;
			.item{
				padding: 10px 0px;
				position: relative;
				label.name{
					font-size: 15px;
				}
				// Type Checkbox
				&.type-checkbox{
					> label{
					    display: inline-block;
					    line-height: 20px;
					    width: 300px;
					    margin-right: 40px;
					    margin-top: 18px;
					    @media screen and (max-width: 1200px) {
					    	 width: 230px;
					    }
					}
					.item-checkbox{
						width: max-content;
						display: inline-block;
						input[type=checkbox]{
							height: 0;
							width: 0;
							visibility: hidden;
							display: none;
						}
						label {
							cursor: pointer;
							text-indent: -9999px;
							width: 80px;
							height: 35px;
							background: $border-color;
							display: block;
							border-radius: 100px;
							position: relative;
						}

						label:after {
							content: '';
							position: absolute;
							top: 4px;
							left: 4px;
						    width: 27px;
						    height: 27px;
							background: $turquoise;
							border-radius: 90px;
							transition: 0.5s;
						}

						input:checked + label {
							background: $blue;
						}

						input:checked + label:after {
							left: calc(100% - 5px);
							transform: translateX(-100%);
						}

						label:active:after {
							width: 130px;
						}
					}
				}

				// Type Text
				&.type-text{
					.item-text{
						margin-top: 10px;
						font-size: 16px;
						input{
							border: 1px solid $blue;
							border-radius: 13px;
							height: 43px;
							background-color: #F1F9FF;
							color: $black;
							padding: 5px 15px;
							&#unikname_email_popup_height{
								width: 100px;
								text-align: center;
							}
						}
					}
				}
				&.type-number-radius{
					label.name{
						display: inline-block;
						width: 120px;
					}
					.item-number-radius{
						margin-top: 10px;
						font-size: 16px;
						display: inline-block;
						input{
							border: 1px solid $blue;
							border-radius: 13px;
							height: 43px;
							background-color: #F1F9FF;
							color: $black;
							padding: 5px 15px;
							width: 100px;
							text-align: center;
						}
					}
				}
				&.type-radio{
					>label{
						font-size: 15px;
						display: block;
						margin-bottom: 10px;
					}
					.item-radio{
						label.container{
						    display: block;
						    position: relative;
						    padding-left: 39px;
						    margin-bottom: 14px;
						    cursor: pointer;
						    -webkit-user-select: none;
						    -moz-user-select: none;
						    -ms-user-select: none;
						    user-select: none;
						    font-size: 14px;
						    padding-top: 5px;
							input[type=radio]{
								position: absolute;
								opacity: 0;
								cursor: pointer;
								&:checked ~ .checkmark:after{
									display: block;
								}
							}
							.checkmark {
							    position: absolute;
							    top: 0;
							    left: 0;
							    height: 25px;
							    width: 25px;
							    border-radius: 50%;
							    border: 1px solid $border-color;
								&:after{
									content: "";
									position: absolute;
									display: none;
								 	top: 9px;
									left: 9px;
									width: 8px;
									height: 8px;
									border-radius: 50%;
									background: $turquoise;
								}
							}
							&:hover{
								input{
									~ .checkmark{
										&:after{
											content: "";
											position: absolute;
											display: none;
										 	top: 9px;
											left: 9px;
											width: 8px;
											height: 8px;
											border-radius: 50%;
											background: $turquoise;
										}
									}
								}
							}
						}
					}
					.custom-url-register{
						display: block;
						width: 100%;
						margin-top: 15px;
						input{
							min-height: 40px;
							padding: 10px 15px;
							border-radius: 13px;
							background-color: #F1F9FF;
							border: 1px solid $blue;
						}
					}
				}
				&.type-radio-color{
					label.name{
						width: 120px;
						display: inline-block;
					}
					.item-radio-color{
						display: inline-block;
						label.container{
						    position: relative;
						    padding-left: 35px;
						    margin-bottom: 12px;
						    cursor: pointer;
						    -webkit-user-select: none;
						    -moz-user-select: none;
						    -ms-user-select: none;
						    user-select: none;
							input[type=radio]{
								position: absolute;
								opacity: 0;
								cursor: pointer;
								display: none;
								&:checked ~ .checkmark:after{
									display: block;
								}
							}
							.checkmark {
							    position: absolute;
							    top: 0;
							    left: 0;
							    height: 20px;
							    width: 20px;
							    border: 1px solid $border-color;
							    border-radius: 100%;
							    &.blue{
							    	background-color: $blue;
							    }
							    &.turquoise{
							    	background-color: $skyblue;
							    }
								&:after{
									content: "";
									position: absolute;
									display: none;
									top: -2px;
									left: -2px;
									width: 22px;
									height: 22px;
									border-radius: 50%;
									border: 1px solid $blue;
								}
							}
						}
					}
				}
				&.type-radio-alignment{
					label.name{
						display: inline-block;
						width: 120px;
					}
					.item-radio-alignment{
						display: inline-block;
						label.container{
						    position: relative;
						    padding-left: 100px;
						    margin-bottom: 12px;
						    cursor: pointer;
						    -webkit-user-select: none;
						    -moz-user-select: none;
						    -ms-user-select: none;
						    user-select: none;
							input[type=radio]{
								position: absolute;
								opacity: 0;
								cursor: pointer;
								display: none;
								&:checked ~ .checkmark-alignment{
									&.left{
							    		background-image: url(../images/active-left.svg)
							    	}
								    &.center{
								    	background-image: url(../images/active-center.svg)
								    }
									&.right{
								    	background-image: url(../images/active-right.svg)
								    }
								}
							}
							.checkmark-alignment{
							    position: absolute;
							    top: 0;
							    left: 0;
								width: 90px;
								height: 18px;
							    background-repeat: no-repeat;
							    background-size: contain;
							    background-position: center;
							    &.left{
							    	background-image: url(../images/unactive-left.svg)
							    }
							    &.center{
							    	background-image: url(../images/unactive-center.svg)
							    }
								&.right{
							    	background-image: url(../images/unactive-right.svg)
							    }
								&:after{
									content: "";
									position: absolute;
									display: none;
									top: -2px;
									left: -2px;
									width: 32px;
									height: 32px;
									border-radius: 50%;
									border: 1px solid $blue;
								}
							}
						}
					}
				}
				&.type-select{
					label.name{
					    display: inline-block;
					    width: 120px;
					    height: 100%;
					    line-height: 20px;
					    position: absolute;
					    top: 10px;
					}
					.item-select{
						display: inline-block;
						width: 70%;
						padding-left: 120px;
						select{
							padding: 5px 10px;
							height: 40px !important;
							border-radius: 13px;
							background-color: $border-color;
							border: 1px solid $blue;
							-webkit-appearance: none;
							-moz-appearance: none;
							background-image: url(../images/icon-drop.svg);
							background-repeat: no-repeat;
							background-position-x: calc(100% - 5px);
							background-position-y: 5px;
							width: 100%;
							padding-right: 30px;
						}
					}
				}
				&.type-textarea{
					> label{
						margin-bottom: 10px;
						display: block;
					}
					.item-textarea{
						textarea{
							background-color: $border-color;
							border: 1px solid $blue;
						    border-radius: 10px;
						    width: 100%;
						    height: 60px;
						    padding: 10px 15px;							
						}
					}
				}
				&.type-image-upload{
					img.image-display-url{
						height: 40px;
						padding: 5px 15px;
						border: 1px #0f2951 dashed;
						margin-top: 10px;
						border-radius: 5px;
					}
					.waiel-upload-btn{
						img{
						    width: 25px;
						    padding: 5px;
						    border: 1px solid #102852;
						    border-radius: 100%;
						    margin-bottom: 10px;
						    margin-left: 20px;
						}
						&:hover{
							cursor: pointer;
						}
					}
				}
				&.type-color-picker{
					>label{
					    display: inline-block;
					    line-height: 20px;
					    width: 80px;
					    margin-right: 40px;
					    margin-top: 18px;
					    @media screen and (max-width: 1200px) {
					    	 width: 230px;
					    }
					}
					.item-color{
						width: max-content;
						display: inline-block;
					}
					.wp-picker-container .wp-color-result.button{
						height: 38px;
						border-radius: 100px;
						padding-left: 40px;
						border: 1px solid #102852;
					}
					.wp-color-result-text{
						height: 36px;
						line-height: 34px;
						font-size: 13px;
						border-radius: 0 100px 100px 0;
						border: 0px;
					}	
					.wp-picker-container input[type=text].wp-color-picker{
						height: 38px;
					}
					.wp-picker-container .wp-picker-clear{
						height: 38px;
					}				
				}
			}
			.button-custom-style{
				margin-top: 10px;
			}
			.column-2{
				flex-basis: 50%;
			    @media screen and (max-width: 1024px) {
			    	 flex-basis: 100%;
			    }
				.content-column{
					padding: 30px;
				}
			}
		}
		.unik-style-button-container{
			border: 1px solid #E6DFDF;
			border-radius: 5px;
			background-color: #F3F3F3;
			padding: 10px 30px;
			margin: 30px 15px;
			h5{
				font-size: 22px;
				position: relative;
				margin-top: 10px;
				font-weight: 400;
				font-style: italic;
				margin-bottom: 25px;
				&:before{
				    content: "";
				    position: absolute;
				    height: 2px;
				    width: calc(100% - 120px);
				    z-index: 9;
				    background-color: #000000;
				    bottom: -1px;
				    right: 0;
				}
				&.title-register{
					&:before{
						width: calc(100% - 150px);
					}
				}
				&.account-link{
					&:before{
						width: calc(100% - 226px);
					}
				}
			}
			.unikname-button-preview-container{
				width: calc(100% - 20px);
				border: 1px #0f2951 dashed;
				padding: 10px;
				position: relative;
				.button-preview{
					text-align: center;
					max-width: 260px;
					h6{
					    margin: 0px;
					    text-align: center;
					    font-size: 15px;
					    font-weight: normal;
					    margin-bottom: 5px;
					}
					.button-unikname-connect{
						background-color: $blue;
						border-radius: 30px;
						display: flex;
						flex-wrap: wrap;
						padding: 10px 15px 10px 10px;
						img{
							width: 30px;
							margin: auto;
						}
						label{
							font-size: 16px;
							line-height: 28px;
							padding: 0;
							margin: 0;
							color: $while;
							margin: auto;
						}

					}
					p{
						margin: 0px;
						margin-top: 5px;
						font-size: 13px;
					}
					&.left{
						margin-left: 0;
						margin-right: auto;
					}
					&.center{
						margin-left: auto;
						margin-right: auto;
					}
					&.right{
						margin-left: auto;
						margin-right: 0;
					}
				}
			}
		}
	}
}
// LINK ACCOUNT
.super-socializer-linking-container{
	table.form-table{
		tbody{
			tr{
				td{
					border: 0px;
					.the_champ_login_container{
						.the_champ_login_ul{
							float: none;
							i.theChampLogin.theChampUniknameBackground.theChampUniknameLogin{
								float: none;
								display: block;
								min-width: 100%;
								width: 300px;
								display: inline-flex;
								height: 55px !important;
								padding: 5px 0px !important;
								.theChampLoginSvg{
									width: 65px;
									height: 100%;
									margin-left: 5px;
									background: none;
									background-repeat: no-repeat;
									background-image: url(../images/icon-unikname.svg) !important;
									&:after{
										content: none;
									}
								}
								label.button_label{
									color: $while;
								    line-height: 40px;
								    padding-left: 5px;
								    font-style: normal;
								    font-size: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
}