.the_champ_outer_login_container{
	text-align: center;
	margin-bottom: 0px;
	margin-top: 5px;
	min-width: 260px;
	width: 260px !important;
	font-size: 15px;
	font-family: "helvetica";
	&.unikname_alignment_left{
		margin-left: 0;
		margin-right: auto;
	}
	&.unikname_alignment_right{
		margin-left: auto;
		margin-right: 0;
	}
	&.unikname_alignment_center{
		margin-left: auto;
		margin-right: auto;
	}
	.the_champ_login_container{
		ul.the_champ_login_ul{
			li{
				float: none;
				i.theChampLogin.theChampUniknameBackground.theChampUniknameLogin{
					float: none;
					display: block;
					min-width: 100%;
					width: 100%;
					display: inline-flex;
					height: 42px !important;
					padding: 5px 0px !important;
					.theChampLoginSvg{
						width: 45px;
						height: 100%;
						margin-left: 20px;
						background: none;
						background-repeat: no-repeat;
						background-image: url(../images/icon-unikname.svg) !important;
						&:after{
							content: none;
						}
					}
					label.button_label{
						color: $while !important;
					    padding-left: 10px;
					    font-style: normal;
					    font-size: 15px !important;
						text-align: center;
						margin-top: auto;
						margin-bottom: auto;
						&:hover{
							cursor: pointer;
						}
					}
					&:hover{
						cursor: pointer;
					}
				}
			}
		}
		&.button_color_blue{
			ul.the_champ_login_ul{
				li{
					i.theChampLogin.theChampUniknameBackground.theChampUniknameLogin{
						background-color: $blue !important;
					}	
				}
			}		
		}
		&.button_color_turquoise{
			ul.the_champ_login_ul{
				li{
					i.theChampLogin.theChampUniknameBackground.theChampUniknameLogin{
						background-color: $skyblue !important;
					}	
				}
			}		
		}
	}
	.the_champ_social_button_description{
		font-size: 13px;
		font-style: italic;
	}
}
.theChampCommentingTabs ul{
	float: none;
}


// LINK ACCOUNT
.super-socializer-linking-container{
	table.form-table{
		tbody{
			tr{
				border: 0px !important;
				td{
					border: 0px;
					text-align: center;
					padding: 0px !important;
					.the_champ_login_container{
						.the_champ_login_ul{
							float: none;
							i.theChampLogin.theChampUniknameBackground.theChampUniknameLogin{
								float: none;
								display: block;
							    min-width: auto;
							    width: 250px;
							    display: inline-flex;
							    height: 45px !important;
							    padding: 10px 0px !important;
							    background-color: #0F2852;
							    border-radius: 15px;
								.theChampLoginSvg{
								    width: 45px;
								    height: 100%;
								    margin-left: 25px;
								    background: none;
								    background-repeat: no-repeat;
								    background-image: url(../images/icon-unikname.svg) !important;
								    background-size: contain !important;
								    background-position: 10px !important;
									&:after{
										content: none;
									}
								}
								label.button_label{
									color: $while !important;
								    padding-left: 10px;
								    font-style: normal;
								    font-size: 15px !important;
									text-align: center;
									margin-top: auto;
									margin-bottom: auto;
									font-family: $font-family;
									line-height: 0;
									-webkit-font-smoothing: auto;
									&:hover{
										cursor: pointer;
									}
								}
								&:hover{
									cursor: pointer;
								}
							}
						}
					}
					p.sub-title{
						font-family: $font-family;
						font-size: 13px;
						font-style: italic;
					}
				}
			}
		}
	}
}
body.wp-admin{
	.stuffbox{
		background-color: transparent;
		background: transparent;
	    border: 0;
	    box-shadow: 0 0 black;
		table.form-table{
			tbody{
				tr{
					td{
						.the_champ_social_login_title{
							margin-top: 10px;
						}
						.the_champ_login_container{
							.the_champ_login_ul{
								float: none;
								margin-top: 20px;
								margin-bottom: 0px;
								&.button-link-account{
									margin-top: 5px;
								}
								i.theChampLogin.theChampUniknameBackground.theChampUniknameLogin{
									height: 25px !important;
									label.button_label{
										font-family: $font-family;
									}
								}
							}
						}
						p.sub-title{
							margin-top: 0px;
						}
					}
				}
			}
		}		
	}
}
.waiel-style-or{
	color: #D8D8D8;
	span{
	    display: block;
	    width: max-content;
	    margin: auto;
	    position: relative;
	    color: #737373;
        font-family: $font-family;
		font-size: 14px;
	    &:after{
			content: "";
			width: 110px;
			height: 1px;
			background-color: #737373;
			position: absolute;
			top: 11px;
			left: 28px;
	    }
	    &:before{
			content: "";
			width: 110px;
			height: 1px;
			background-color: #737373;
			position: absolute;
			top: 11px;
			right: 28px;
	    }
	}
}
body.login{
	.waiel-style-or{
		span{
			 &:after{
			 	top: 8px;
			 }
			 &:before{
			 	top: 8px;
			 }
		}
	}
}
form.woocommerce-checkout > .checkout__billing > *{
	-webkit-box-flex: unset;
	-ms-flex-positive: unset;
	flex-grow: unset;
}
.the_champ_social_login_title{
	font-size: 13px;
}
.disable-authentication-password{
	.woocommerce-form, #loginform{
		input[name=username], input[name=password]{
			pointer-events: none;
			background-color: #e8e8e8;
			display: none;
			&:hover{
				cursor: pointer;
			}
		}
		input[type=submit]{
			pointer-events: none;
		}
		.woocommerce-form-row, .form-row, .woocommerce-LostPassword{
			display: none;
		}
	}
	.waiel-style-or{
		display: none;
	}
}