@font-face {
	font-family: "helvetica";
	src: url("../fonts/Helvetica.ttf");
	font-weight: bold;
	font-style: normal;
	font-display: block;
}
$font-family: "helvetica";
$blue: #0f2852;
$turquoise: #172547;
$skyblue: #2b6bf3;
$red: #fe7644;
$black: #000000;
$while: #fff;
$border-color: #e4e9ff;
$enabled: #fe7644;
