@font-face {
	font-family: 'helvetica';
	src:  url('../fonts/Helvetica.ttf');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}
$font-family: 'helvetica';
$blue: #0F2852;
$turquoise: #00A099;
$skyblue: #2B6BF3;
$red: #C41D02;
$black: #000000;
$while: #fff;
$border-color: #E4E9FF;